<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.initial.gituser">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.SplashScreenActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
         <activity
         android:name=".ui.LoginActivity"
         tools:node="replace">
         <intent-filter>
         <action android:name="android.intent.action.VIEW" />
         <category android:name="android.intent.category.DEFAULT" />
         <category android:name="android.intent.category.BROWSABLE" />
         <data
         android:host="@string/domain"
         android:pathPrefix="/android/com.initial.gituser/callback"
         android:scheme="https" />
         </intent-filter>
         </activity>

        <activity
            android:name=".ui.RepoActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.ProfileDetailsActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".ui.HomeActivity"
            android:theme="@style/AppThemes"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>
    </application>

</manifest>